@font-face{
	src: url(../fonts/Montserrat.ttf);
    font-family: Montserrat;
    font-weight: normal;
}
@font-face{
	src: url(../fonts/typo.ttf);
    font-family: Typo;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a{ text-decoration: none;}
.clear:before, .clear:after{content: " "; display: :table;}
.clear:after{clear: both;}

body{
	font-family: sans-serif;
	font-size: 14px;
}

.arrow{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-left: 4px;
}

.arrow.down{
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.arrow.up{
	border-bottom: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

nav{
	width: 100%;
	background: #6CC49B;
	font-family: Montserrat;
	color: #fff;
	overflow: hidden;
}
nav a{
	color: #fff;
}

nav .navbar{
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
}
nav .logo{
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	float: left;
	line-height: 42px;
}
nav .menu-toggle{
	cursor: pointer;
	display: none;
	float: right;
	padding: 12px;
	margin: 10px;
	background: #62B38D;
	transition: background-color .5s;
}

nav .icon-bar{
	background: #fff;
	display: block;
	width: 22px;
	height: 2px;
}

nav .icon-bar+ .icon-bar{
	margin-top: 4px;
}

nav .menu .fas{
	margin-right: 8px;
}

nav .menu ul{
	float: right;
	margin-right: 13%;
}

nav .menu ul li{
	float: left;
	list-style: none;
	border-left: 1px solid #62B38D;
}
nav .menu ul li:first-child{border: 0;}

nav .menu li a,
nav .dropdown{
	cursor: pointer;
	position: relative;
	display: block;
	padding: 12px 20px;
	transition: background-color .3s;
}

nav .menu li a:hover,
nav .dropdown:hover,
nav .dropdown.active,
nav .menu-toggle.active{
	background: #FFBB22;
	transition: background-color .5s;
}

nav .menu ul ul{
	display: none;
	float: none;
	position: absolute;
	background: #FFBB22;
}

nav .menu ul ul li{
	float: none;
	border: 0;
}
nav .menu ul ul a:hover{
	background: #62B38D;
	transition: background-color .3s;
}
nav .log-link{
	position: absolute;
	color: #000;
	text-shadow: ;
	font-size: 16px;
	line-height: 42px;
	right: 12%;
}
nav .log-link:hover{
	color: #fff;
}

@media (max-width: 1125px){
	nav .log-link{
		right: 10%;
	}
}
@media (max-width: 1125px){
	nav .log-link{
		right: 8%;
	}
}
@media (max-width: 1080px){
	nav .log-link{
		right: 5%;
	}
}
@media (max-width: 800px){
	nav .logo{line-height: 58px;}
	nav .menu{display: none; clear: both;}
	nav .menu-toggle{display: inline-block;}
	nav .menu > ul{float: left; width: 100%;}
	nav .menu ul li{width: 100%; border: 0;}
	nav .menu ul ul{position: static; background: transparent;}
	nav .menu li a,
	nav .dropdown{
		background: #62B38D;
		margin: 2px 0 0 0;
	}
	nav .menu li:last-child{margin: 0 0 15px 0;}
	nav .menu ul ul a{background: transparent;}
	nav .log-link{
			position: relative; 
			right: 10px; 
			float: right; 
			line-height: 0;
			margin: 0 0 15px 0;
		}
}